/* color */
.color-f4516c {
  color: #f4516c;
}

.color-ff4949 {
  color: #ff4949
}

.color-409eff {
  color: #409eff;
}

.color-79bbff {
  color: #79bbff
}

.color-79bbff:hover {
  color: #409eff;
}

.color-badff8 {
  color: #badff8
}

.color-13ce66 {
  color: #13ce66
}

.color-73c846 {
  color: #73c846
}

.color-34bfac {
  color: #34bfac
}

.color-05a89a {
  color: #05a89a
}

.color-05a89a:hover {
  color: #098d91
}

.color-e1f3d8 {
  color: #e1f3d8
}

.color-burlywood {
  color: burlywood
}

.color-burlywood:hover {
  color: #e4a02b
}

.color-e4a02b {
  color: #e4a02b
}

.color-ffb463 {
  color: #FFB463
}

.color-8a8a8a {
  color: #8a8a8a;
}

.color-7e8ca3 {
  color: #7e8ca3
}

.color-c {
  color: #cccccc;
}

.color-f {
  color: #ffffff
}
.color-27C2C1{
  color: #27c2c1;
}
.editColor{
  color: #E6A23C;
}
.deleteColor{
  color: #FF0000;
}

/* bg-color */
.bg-default {
  background-color: RGB(230, 230, 230, .1)
}

.bg-f {
  background-color: #ffffff
}

.bg-eef1f6 {
  background-color: #eef1f6
}

.bg-098d91 {
  background-color: #098d91
}

.bg-27c2c1{
  background-color: #27c2c1
}
.el-table .bgcolor-f0f9eb {
  background-color: #f0f9eb
}

.el-table .bgcolor-fdf6ec {
  background-color: #fdf6ec
}

/* border-color */
.border-c-f {
  border-color: #ffffff
}

.border-c-67C23A{
  border-color: #67C23A
}

/* opacity */
.opacity-03 {
  opacity: .3;
}